
<!-- views/partials/header.ejs -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script
src="http://code.jquery.com/jquery-3.1.1.js"
integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script>
<div class="container">
<nav class="navbar navbar-default">
<h1 class="logo" style="text-align: center;">Guestbook</h1>
<div class="btn-group btn-group-justified">
<a href="/" role="button" class="btn btn-primary">Frontpage</a>
<a href="/guests" role="button" class="btn btn-primary">Guestbook</a>
<a href="/newmessage" role="button" class="btn btn-primary">Add new message</a>
</div>
</nav>
</div>
